@import url("https://fonts.googleapis.com/css2?family=Galada&family=Poppins:wght@400;500;700&family=Roboto:wght@400;700&display=swap");

/* Colors */
:root {
  --primary: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--dark-slate-grey);

}

.card-wrapper {
  width: 100vw;
}

ul {
  list-style-type: none;
  font-weight: normal;
  margin: 1rem 0;
}

.success-card {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1.5rem;
  margin-top: 5rem;
}

.success-card h2 {
  font-size: 2.5rem;
  line-height: 1;
}

.success-card p {
  margin: 1rem 0;
}

.success-card img {
  width: 3rem;
  margin-bottom: 1.5rem;
}

.success-card button {
  width: 100%;
  margin-top: 20rem;
}

.newsletter-card {
  display: flex;
  flex-direction: column-reverse;
}

.card-content {
  margin: 1rem 2rem;
}

.card-content h1 {
  margin-bottom: 2rem;
}

ul li {
  display: flex;
  align-items: center;
}

ul img {
  width: 1.2rem;
  margin-bottom: 1.8rem;
}

ul p {
  margin: 0 0 1rem 1rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

form p {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  font-weight: 700;
}

input[type="text"],
button {
  width: 80%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--grey);
  margin: 0.3rem 0;
}

button {
  background-color: var(--dark-slate-grey);
  color: var(--white);
  border: none;
  outline: none;
}

button:hover {
  background-color: var(--primary);
  box-shadow: 5px 5px 5px var(--grey);
}

/* Desktop styles */

@media screen and (min-width: 1024px) {

  .card-wrapper {
    background-color: var(--charcoal-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .newsletter-card {
    background-color: var(--white);
    padding: 1rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    border: none;
    border-radius: 1rem;
  }

  .card-content {
    width: 50%;
  }

  ul img {
    margin-bottom: 1rem;
  }

  .card-thumbnail {
    width: 50%;
    height: 100%;
  }

  .card-thumbnail img {
    width: 100%;
    height: 95%;
  }

  input[type="text"],
  button {
    width: 25%;
  }

  .success-card {
    background-color: var(--white);
    width: 30%;
    border: none;
    border-radius: 1rem;
    padding: 1.5rem 2.5rem;
  }

  .success-card button {
    margin-top: 1rem;
  }
}