@import url("https://fonts.googleapis.com/css2?family=Galada&family=Poppins:wght@400;500;700&family=Roboto:wght@400;700&display=swap");

/* Colors */
:root {
  --primary: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  color: var(--dark-slate-grey);
 
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--charcoal-grey);
  height: 100vh;
}

ul {
  list-style-type: none;
  font-weight: normal;
  margin: 1rem 0;
}

.success-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--white);
  height: 50%;
  width: 35%;
  padding: 3rem;
  border-radius: 3rem;
}

/* .success-card h2 {
  font-size: 3rem;
  line-height: 1;
}

.success-card p {
  margin: 1rem 0;
}

.success-card img {
  width: 3rem;
  margin-bottom: 1.5rem;
}

.success-card input[type="button"] {
  width: 100%;
} */

.newsletter-card {
  display: none;
  flex-direction: column-reverse;
}

.card-content {
  margin: 1rem 2rem;
}

.card-content h1 {
  margin-bottom: 2rem;
}

ul li {
  display: flex;
  align-items: center;
}

ul img {
  width: 1.2rem;
  margin-bottom: 1.8rem;
}

ul p {
  margin: 0 0 1rem 1rem;
}

form {
  width: 100vw;
}

form p {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  font-weight: 700;
}

input[type="text"],
input[type="button"] {
  width: 80%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--grey);
  margin: 0.3rem 0;
}

input[type="button"] {
  background-color: var(--dark-slate-grey);
  color: var(--white);
}